body {
    background-color: #F2F2F2;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body, html {
    min-height: 100%;
}

.app-bar {
    background-color: white;
    height: 72px;
}
.app-bar-title {
    height: 100%;
    text-align: center;
    line-height: 72px;
}
.fa-bars {
    font-size: 36px;
    position: absolute;
    color: rgba(0,0,0, 0.5);
    line-height: 72px;
    margin-left: 16px;
}
.title {
    text-transform: uppercase;
    font-size: 1.25em;
    text-align: center;
    font-weight: normal;
}
.status-indicator {
    background-color: #22B573;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    color: white;
    text-align: center;
    line-height:72px;
    margin: auto;
}
.container {
    padding-top: 40px;
}
.button {
    border-radius: 100%;
    border: 2px solid;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.button.alert {
    border-color: red;
    color: red;
    text-align: center;
}
.button.ok {
    border-color: #22B573;
   color: #22B573;
}
.actions {
    display: flex;
    justify-content: center;
}
.actions .button {
    margin: 0 25px;
}